@charset "utf-8";
/* CSS Document */
html,body{
	margin: 0;
	font-family: Arial,'微软雅黑';
}
/*首页样式*/
.main{
	height: 90.55%;
}
.main .banner{
	position: relative;
	width: 100%;
	height: 33.44%;
}
.main .banner img{
  width: 100%;
}
.main .ad{
	height: 14.07%;
}
.main .ad ul{
	margin: 0;
	height: 100%;
}
.main .ad ul li{
	list-style:none;
	display: inline-block;
	width: calc(32% - 52px);
	color: black;
	height: 100%;
	padding-left: 52px;
	font-size: 14px;
}
.main .ad ul li:nth-child(1){
	background:url(../image/images/indexlogo_03.png) no-repeat 0 50%;
}
.main .ad ul li:nth-child(2){
	background:url(../image/images/indexlogo_05.png) no-repeat 0 50%;
}
.main .ad ul li:nth-child(3){
	background:url(../image/images/indexlogo_07.png) no-repeat 0 50%;
}
.main .search{
	height: 6.62%;
	margin-bottom: 20px;
}
.main .search .searchtext{
	margin-left: 2.4%;
    float:left;
    width:76.8%;
    height: 100%;
    box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
.main .search .submit{
float:left;
width: 16%;
height: 100%;
background-color: #ffffff;
margin-left:2.4%; 
    box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
.main .search .searchtext input{
	height: 100%;
	width: 100%;
	border: 1px solid gray;
	padding: 0;
}
.main .search .submit input{
	height: 100%;
	width: 100%;
	padding: 0;
	border: 1px solid gray;
	background-color: #fff;
}

 .personlist{
	height: 21%;
	position: relative;
	border-bottom:3px solid #f2f2f2;
}
.personlist .grayline{
	width: 100%;
	height: 2px;
	position: absolute;
	background-color: #f2f2f2;
	top: 36px;
	z-index: -1;
	}
 .personlist .head{
 	    box-sizing:border-box;

-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
	border-width: 1px;
    border-radius: 100%;
    margin-left: 20px;
    height: 63%;
    float: left;
    padding-top:20px
}
.personlist img{
  height: 100%;
}
.personlist .profile{
	height: 100%;
	float: right;
	width: 75%;
}
 .profile .name span:nth-child(1){
	font-size: 26px;
	font-weight: bold;
}
 .profile .name span:nth-child(2){
   margin-left: 20px;
}
 .profile .introduce{
	position: relative;
}
 .profile .introduce p:nth-child(1){
   font-weight: bold;
   font-size: 22px;
}
 .profile .introduce p:nth-child(4){
	position: absolute;
    right:20px;
}
 .profile a{
	color: black;
    text-decoration: none;
}
 .profile .introduce span:nth-child(3){
     position: absolute;
     top:50px;
     display: block;
     padding-left: 30px;
     z-index: 2;
     right:10px;
     color:#fdc7b2;
     background-size: 60px;
     background:url(../image/images/price_03.png) no-repeat;
     background-position: 5px 0px;
}
.headtop{
	height:50px;
}
.tab{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
	height:9.2%;
	width: 100%;
	position: relative;
}

.tab a{
	display: inline-block;
	text-decoration: none;
	width: 24.2%;
	text-align: center;
	height: 100%;
	position: relative;
	border-left: 1px solid gray;
	color: #a39b9b;
	font-size: 20px;
	 box-sizing:border-box;
	 -moz-box-sizing:border-box; /* Firefox */
	 -webkit-box-sizing:border-box; /* Safari */

}
.aborder{
height: 1px;
width:100%;
position: absolute;
background-color: gray;
top:1px;
}
/*load页面样式*/
.loadmain{
	height: 85%;
	background-color:#453959;
	color: white;
}
.loadtittle{
    text-align: center;
    padding:48px 0 55px 0;
    font-size: 22px;
}
.upload{
	width: 100%;
	height: 70%;
	margin: 0 auto;
}
.input{
	float: left;
	width: 40%;
	height: 50%;
	margin: 0 25px 15px 35px;
	position: relative;
}
.upload label{
	display: block;
	height: 100%;
	width: 100%;
}
.upload label input{
  height: 100%;
   width: 100%;
   display: none;
}
.input img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.notice{
	font-size: 22px;
	margin: 35px;
}
.notice span{
	color: red;
}
.loadfooter{
	height: 15%;
	text-align: center;
	position: relative;
	background-color: #f06254;
	color: white;
}
.loadfooter span{
	display: inline-block;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	font-size: 22px;
}
/*我约过的专家页面样式*/
.procontent{
	height: 87%;
	background-color: #eeeeee;

}
.tittle{
	background-color: #ee847a;
	height: 10%;
	text-align: center;
	line-height: 400%;
	font-size: 25px;
	color: white;
}
.current{
	width: 80%;
	margin: 30px auto 0;
	position: relative;
}
.current img{
	width:100px;
	position: absolute;
	top: 10px;
	right: 20px;
}
.history img{
	width:100px;
	position: absolute;
	top: 10px;
	right: 20px;
}
.history{
		width: 80%;
	margin: 0 auto;
		position: relative;
}
.finish{
	text-align: center;
}
.finish .finishdate{
	margin-top:10px;
	background-color: #f27768;
	color: white;
	width: 80%;
	height: 60px;
	font-size: 24px;
}
.finish p{
	color: #ee847a;
}
.discover{
	text-align: center;
	margin: 20px 0 20px 0;}
.discover input{
	margin-top:10px;
	background-color: #f27768;
	color: white;
	width: 80%;
	height: 60px;
	font-size: 24px;
}
.record table{
	width: 100%;
}
.record table tr{
		background-color: white;
}
.record table tr td{
	padding:20px;
	vertical-align: middle;
}
.record table tr td:nth-child(1){
	width: 30%;
	font-size:14px;font-weight: bold; 
}
.record table tr td:nth-child(2){
	font-size: 12px;
	color: gray;
}
.mask{
	 background-color: black;
	 position: fixed;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 3;
	 opacity:0.7;
     filter:alpha(opacity=70);
}
.mark{
	background-color: white;
	z-index: 4;
	margin-top: 40%;
	position: fixed;
	width: 100%;
	height: 500px;
	text-align: center;
}
.mark p{
text-align: left;
padding-left: 80px;
}
.mark input{
	position: relative;
	right: -200px;
	top: -40px;
	color: #f27768;
	font-size: 25px;
	background-color: white;
	border-width: 0;
}
/*个人详细信息简介*/
.intro .detail{
	border-top: 2px solid gray;	
}
.intro .detail h3{
      margin-left: 30px;
      color:#f57666;
}
.intro .detail p{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
}
.intro .detail p:nth-child(3){
	color:#6e9ed0;
	margin-top: 30px;
}
.comment>p{
	letter-spacing:2px;
	padding-left: 30px;
	font-size: 15px;
	color:#f57666 ;
}
.comment .head{
	width: 90px;
	border-radius: 50%;
}
.comment .comment1 img{
	width: 100%;
}
.comment .comment1{
	padding-left: 20px;
	float: left;
}
.comment .commentdetail{
	margin-left: 130px;
	padding-right: 20px;
}
.comment .commentdetail span{
	font-weight: bold;
	font-size: 14px;
	color: black;
}
.comment .commentdetail p{
	font-size: 12px;
	color: gray;
}
.footertab{
	height: 100px;
	text-align: center;
	position: relative;
}
.footertab a{
	display: inline-block;
	height: 100%;
	width: 50%;
	line-height: 100px;
	color: white;
}
.footertab a:nth-child(1){
background-color: #cac8cc;
position: absolute;
left: 0;
}
.footertab a:nth-child(2){
background-color: #f06254;
position: absolute;
right: 0;
}
/*消息中心*/
.info{
	height: 100px;
	background-color: #ee847a;
	font-size: 27px;
	color: white;
	text-align: center;
	line-height: 100px;
}
.info .infodetail{
	width: 100%;
}
.infodetail table{
	width: 100%;
}
.infodetail table tr{
	background-color: white;
}
.infodetail table tr td{
	padding:30px;
	vertical-align: middle;
}
.infodetail table tr td:nth-child(1){
	width: 30%;
	font-size:14px;font-weight: bold; 
}
.infodetail table tr td:nth-child(2){
	font-size: 12px;
	color: gray;
}
.infodetail img{
	width:130px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.infodetail .history{
	margin-top: 50px;
}

/*约过我的*/
.finish .refuse{
	background-color: #d80e0e;
	width: 40%;
	margin-top: 20px;
	height:50px;
	color: white;
	font-size: 22px;
	border-width: 0;
}
.finish .agree{
	background-color: #f27768;
	width: 39%;
		margin-top: 20px;
	height:50px;
	color: white;
	font-size: 22px;
	border-width: 0;
}
/*约见流程*/
.main .process{
	width: 75%;
	margin: 10px auto 10px;
}
.process .first{
	width: 90%;
	margin:20px auto 0;
}
.first p{
	display: inline-block;
	width: 28%;
	text-align: center;
	font-size: 20px;
}
.first p:nth-child(1){
	text-align: left;
	color: #ee847a;
	padding-left: 10px;
}
.first p:nth-child(3){
	padding-left: 33px;
}
.first img{
	width: 90%;
}
.description p{
	color:#ee847a ;
	font-size: 20px;
}
.description textarea{
border-width: 0;
margin: 0 auto;
}
.description input{
	height: 60px;
	border-width: 0;
	width: 100%;
	margin-top: 30px;background-color: #ee847a;
}
/*发布技能第一步,选择标签*/
.select{
	height:calc(100% - 120px);
	background-color: #453959;
}
.select p{
	margin: 0;
     color: white;
     font-size: 28px;
     text-align: center;
     padding-top: 90px;
}
.select .wrap{
	margin-top: 80px;
     height: 640px;
      -webkit-column-count: 3; 
      padding-left: 50px;
      padding-top: 30px;
}
.select .wrap .label{
width: 130px;
height: 130px;
position: relative;
margin-bottom: 20px;
}
.select .wrap img{
	width: 130px;
    position: absolute;
}
.select .wrap input{
    position: absolute;
}
.next{
	height: 120px;
	background-color: #f06254;
	width: 100%;
	text-align: center;
}
.next a{
	font-size: 26px;
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	line-height: 120px;
}
/*技能管理*/
.main .notice{
	text-align: center;
	color:#f06254;
}
.main .notice span{
	font-size: 25px;
	font-weight: bold;
	color: black;
}
.main .skill{
	width: 80%;
	margin: 0 auto;
	color: gray;
	font-size: 20px;
}
.main .skill h3{
	color: black;
}
.skill .skilltittle{
	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
	width: 100%;
	background-color: white;
	padding: 6px 4px 4px 12px;
	margin-bottom: 10px;
}
.skill .themeintro{
		box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
width: 100%;
	background-color: white;
	padding: 6px 4px 4px 12px;
	margin-bottom: 10px;
}
.skill .price{
		box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
    width: 100%;
	background-color: white;
	padding: 6px 4px 4px 12px;
	margin-bottom: 10px;
}
.skill .skilltag{
		box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
width: 100%;
	background-color: white;
	padding: 6px 4px 4px 12px;
	margin-bottom: 10px;
}
.main .delete{
	text-align: center;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
	width: 79%;
	margin: 20px auto 0;
	background-color: #d80e0e;
	font-size: 20px;
	color: white;
}
/*个人详细信息管理*/
.main .profilefill{
	width: 80%;
	margin:80px auto 20px;
}
.profilefill table{
	width: 100%;
}
.profilefill table td input{
	height: 100%;
	width: 100%;
	border-width: 0;
		font-size: 18px;
		color: gray;
}
.profilefill table tr{
	background-color: white;
}
.profilefill table tr td{
	vertical-align: middle;
	height: 80px;
	width: 60px;
	padding: 0 0 0 20px;

}
.profilefill table tr td:nth-child(1){
	width: 30%;
	font-size:16px;font-weight: bold; 
}
.profilefill table tr td:nth-child(2){
	color: gray;
}
.main .photo{
	margin: 30px auto;
	width: 100%;
	background-color: white;
	text-align: center;
}
.main .remind{
	width: 100%;
	color:  #f27768;
	font-size: 20px;
}
.main .profilefill .finish{
	height: 80px;
	background-color: #f27768;
	line-height: 80px;
	color: white;
	font-size: 24px;
}
/*个人信息填写*/
.main .photo img{
	height:210px ;
	border-width: 0;
}
.main .photo input{
	display: none;
}
.main .photo p{
	color: gray;
	padding-bottom: 10px;
	font-size: 20px;
}
/*个人中心*/
.main .headwrap{
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: #837c90;
}
.main .headwrap img{
	height: 200px;
	margin-top: 50px;
}
.main .item1,.main .item3,.main .item2{
	width:100%;
	margin: 20px auto 0;
}

.item p{
padding: 0 20px 0 20px;
background-color: white;
margin: 3px 0 0 0;
height: 75px;
line-height: 75px;
position: relative;
}
.item img{
	height: 75px;
}
.item span{
	display: inline-block;
	position: relative;
	top: -30px;
	left: 20px;
	font-size: 20px;
	color: gray;
}