/*公共样式*/
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
}
body {
    font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
ul {
    list-style: none;
}
input {
    outline: none;
}
.clearfix::after{
  content: '';
  display: block;
  overflow: hidden;
  height: 0;
  clear:both;
}
div{
	box-sizing: border-box;
}
/*首页样式*/
header{
	overflow:hidden;
	height: 180px;
	width: 100%;
}
.carousel{
	/*保持轮播不换行*/
	width: 300%;
	position: relative;
	height: 100%;
}
.imgbox{
	float: left;
	width: 33.3333%;
	position: relative;
	height: 100%;
}
.imgbox a,.imgbox img{
	width: 100%;
}
.imgbox .content{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	color: white;
}
section{
	width: 100%;
}
p.title{
	margin: 10px 0 10px 20px;
	color: #5d6bbd;
}
section .article{
	  height: 180px;
	  width: 45%;
	  display: inline-block;
	  margin: 10px 0 0 10px;
	  position: relative;
	  background-color: red;
}
section .article .background{
   height: 100%;
   width: 100%;
   position: absolute;
}
section .article p{
	font-size: 12px;
	height: 30%;
	width: 100%;
	background-color: #164197;
	position: absolute;
	bottom: 0px;
}
section .article .articletitle{
	height: 50%;
	display: block;
	margin-left: 10px;
}
section .article p img{
	width: 12px;
	height: 12px;
}
section .article p .medialogo{
	padding-left: 5px;
	position: relative;
	top: 2px;
}
section .article p .classfiy{
 margin: 0 0 0 2px;
 display: inline-block;
 font-size: 12px;
}
/*导航条样式*/
nav{
	position: fixed;
	bottom: 0;
	height: 75px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #bdbdbd;
    background-color: #161616;
}
nav ul li{
	float: left;
	width: 25%;
	padding: 10px 0 10px 0;
	font-size: 12px;

}
nav ul li a{
		color: white;
}
nav ul li a:hover{
		color: yellow;
}
nav ul li img{
	    height: 1.7rem;
}
/*分类页样式*/
section .topic{
	height: 160px;
	position: relative;
	width: 100%;
}
section .topic img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
}
section .topic p{
	margin-left: 50px;
}
section .topic p.topichead{
	padding-top: 40px;
}
section .topic p.detail{
	padding-top: 10px;
	padding-right: 30px
}
section .topic .topictitle{
	font-size: 1.8rem;
}
section .topic .count{
	margin-left: 10px;
}
/*媒体分类*/
section .media{
	margin: 0;
	height: 120px;
	width: 100%;
	border-bottom: 1px solid gray;
}
section .media .img{
height: 80px;
width: 80px;
border-radius: 50%;
margin:20px 0 10px 10px;
float: left;
}
section .media img{
	height: 80px;
	width: 80px;
}
section .media .weixin{
	height: 40px;
	padding-top: 15px;
	float: right;
	width: 70%;
	color: black;
	font-size: 18px;
}
section .media .introduce{
	padding: 5px 5px 0 0;
  height: 80px;
  float: right;
  width: 70%;
  color: black;
  font-size: 12px;
}