*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {font-family:FZZXHJW; src: url("../font/FZZXHJW-GB1-0.otf")} 
@font-face {font-family:zhonghei; src: url("../font/zhonghei.ttf")}
@font-face {font-family:xianhei; src: url("../font/zhonghei.ttf")}
body{
	width: 100%;
	height: 100%;
	background-image: url(../image/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position:center;
	color: white;
    background-attachment:fixed;
    background-color:#141833;
}
p.copyright{
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.17rem;
	position: fixed;
	bottom: 15px;
}
input{
	outline: 0;
}


